<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html lang="en" ng-app="jenuApp">
<head>
	<meta charset="utf-8" />
	<meta content="Scans links" name="description" />
	<title>Jenu - a link scanner</title>
	<script src="lib/angular/angular.js" type="text/javascript"></script>
	<link rel="stylesheet" href="Styles/Styles.css" />
</head>
<body ng-controller="resourceLogController">

    <h1>Jenu - a website link checker</h1>

    <p>
        Enter a URL to scan (must be CORS-enabled):
    </p>

    <p>
	 	<input type="text" ng-init="startUrl='http://www.breaks-in-summerland-tenerife.co.uk/'" ng-model="startUrl" placeholder="e.g. www.foo.com" class="start-url" />
	 	<button ng-click="StartScanning(startUrl, false);">Start scanning</button>
    </p>

    <hr />

	<ul class="infoList">
		<li>
			{{ResourceLog.CompletedCount()}} of {{ResourceLog.EntryCount()}} URLs
		</li>
		<li>
			{{ResourceLog.PendingCount()}} pending
		</li>
		<li>
			{{ResourceLog.CompletedPercentage()}}% done
		</li>
	</ul>

    <table class="results">
        <thead>
            <tr>
                <th>URL</th>
                <th>Status</th>
					<th>Size</th>
                <th>Title</th>
					<th>Description</th>
					<th>Log Status</th>
					<th>% Complete</th>
					<th>Dur</th>
					<th>Type</th>
					<th>Encoding</th>
					<th>In/Out Links</th>
					<th>Server</th>
            </tr>
        </thead>
        <tbody>
		  	<tr ng-repeat="entry in ResourceLog.Entries" class="logstatus-{{entry.LogStatusCssSafe()}}">
		  		<td>{{entry.Url.href}}</td>
		  		<td>{{entry.Status}}</td>
		 		<td>{{entry.ContentLength}}</td>
		  		<td>{{entry.Title}}</td>
		  		<td>{{entry.Description}}</td>
		  		<td>{{entry.LogStatus}}</td>
		  		<td>{{entry.PercentComplete}}</td>
		 		<td>{{entry.Duration()}}</td>
		  		<td>{{entry.ContentType}}</td>
		  		<td>{{entry.ContentEncoding}}</td>
		  		<td>{{entry.InLinks}}/{{entry.OutLinks}}</td>
		 		<td>{{entry.Server}}</td>
		  	</tr>
        </tbody>
    </table>

	<script src="Scripts/Utilities/Namespace.js" type="text/javascript"></script>
	<script src="Scripts/Jenu/Downloader.js" type="text/javascript"></script>
	<script src="Scripts/Jenu/Resource.js" type="text/javascript"></script>
	<script src="Scripts/Jenu/ResourceLog.js" type="text/javascript"></script>
	<script src="Scripts/Jenu/Url.js" type="text/javascript"></script>
	<script src="Scripts/Jenu/ContentParser.js" type="text/javascript"></script>
	<script src="Scripts/Jenu/PageInfoParser.js" type="text/javascript"></script>
	<script src="Scripts/Jenu/Scanner.js" type="text/javascript"></script>

	<!--<script src="Scripts/Jenu/TestHarness.js" type="text/javascript"></script>-->

    <script src="app/app.js"></script>
    <script src="app/controllers/resourceLogController.js"></script>

</body>
</html>
